* {
	margin: 0;
}

body {
	width: 100%;
	height: 100vh;
}

header {
	background: khaki;
	width: 100%;
	height: 20%;
}

section {
	width: 100%;
	height: 80%;
	display: flex;
}

article {
	width: 90%;
	height: 100%;
}

aside {
	width: 10%;
	background: gold;
	height: 100%;
}

.edit {
	color: green;
}

.delete {
	color: red;
}

span {
	padding: 8px;
}

.id {
	display: none;
}

.one_task {
	margin: 10px;
	display: flex;
}

.up,
.down {
	border: 1px solid;
	padding: 5px 12px;
	background: gold;
	margin: 0 3px;
	cursor: pointer;
}

.delete {
	cursor: pointer;
}

.up:hover,
.down:hover {
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
	background: orange;
}

input {
	margin: 0 3px;
	padding: 5px;
}

.task_time {
	width: 24px;
	text-align: center;
}

.task_description {
	width: 250px;
}

.task_description:focus {
	width: 500px;
}

.task_name {
	text-transform: uppercase;
	width: 150px;
}